        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            width: 100vw;
            height: 100vh;
        }
    .navone{
            width:100vw;
            height:50px;
            background-color:white ;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }
        .logonavone{
            width:30%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-left: 210px;
        }
        .phone{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap:15px;
            padding-right: 15px;
            border-right: 1px solid black;
        }
        .email{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap:15px;
            padding-right: 15px;
            border-right: 1px solid black;
               }
               .location{
                 display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap:15px;
               }
               .social{
                width:10%;
                font-size: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 220px;
               }
               .navtwo{
                 width:100vw;
                height:90px;
                background:linear-gradient(to right, #4b00ff, #d100ff); 
                display: flex;
                flex-direction:row;
                align-items: center;
                justify-content: space-between;
               }
               .About{
                width:35%;
                height:50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-right: 210px;
            font-size: 25px;
            font-weight: lighter;
               }
               .About a{
                color: white;
                text-decoration: none;
               }
               .icon{
                margin-left: 230px;
               }

              
        .display{
            width: 100vw;
           display: flex;
           align-items: center;
           justify-content: start; 
        }
        .displayImg{
            width: 100vw;
            display: flex;
            align-items: start;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
        }
        .displayCard{
            width:680px;
            height:450px;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items:start;
            justify-content: center;
            background-color:#ffffff95;
            backdrop-filter:blur(25px);
             box-shadow: 1px 1px 7px gray;
            border-radius:10px;
            left:34%;
            top:40%;
            padding-left:80px;
        }
        .Seo{
            border-bottom: 1px solid gray;
            color: rgb(36, 14, 105);
                font-weight: bolder;
                font-size:15px ;
                padding-bottom:10px;
        }
        .into{
             color: rgb(82, 15, 158);
        }
        .with{
             color: #e423ef;
        }
        .head{
            width:450px;
            height: 35px;
            margin-top: 10px;
            font-size: 35px;
            padding-top: 0px;
            padding-bottom: 0px;   
        }
        .text{
            width: 70%;
            height: 20%;
            color: gray;
            padding-top: 5px;
            padding-bottom:60px;
          
            margin-top: 55px;
            display: flex;
            align-items: start;
            justify-content: center;
            font-size: 25px;
        }
        .text a{
            text-decoration: none;
        }
        .butt{
          
            width: 90%;
            height:15%;
            display: flex;
            align-items: center;
            justify-content: space-between;
              gap:25px;
            margin-top: 90px;

        }
        .butt button{
            border-radius:3rem;
            width:70%;
            height: 100%;
            font-weight:bold ;
            font-size:18px;
        }
        .left_btn{
            color: white;
            background-color: blue;
        }
        .right_btn{
            color: white;
            background-color: #e729f1;
        }

         .display2{
            width:100vw;
            position: relative;
            display: flex;
            margin-top: 30px;
            
        }
        .display2Img{
            width: 100vw;
         
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
        .display2Main{
            margin-top: 60px;
            padding-top: 10px;
            position: absolute;
            right:250px;
            width:60%;
            height:75%;
            display:flex ;
            flex-direction: column;
            align-items: start;
          
        }
        .main_heading{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            margin-bottom: 20px;
            font-size: 25px;
        }
        .diff{
            color: rgb(82, 9, 116);
        }
        .feat{
            color: #e423ef;
            padding-bottom:10px;
                border-bottom: 3px solid  rgb(82, 9, 116);
        }
        .main_text{
            color: gray;
           
             width: 70%;
             display: flex;
             justify-content:center;
             align-items: center;
             font-size: 20px;
             padding-left:90px ;
        }
        .uppercard{
         
            width:50%;
            height: 45%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-left: 120PX;
        }
        .bottomcard{
             
            width:50%;
            height: 45%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-left: 120PX;
            margin-top: 20px;
        }
        .card{
            width:70%;
            height:85%;
            border: 2px solid white;
            border-radius: 10px;
            box-shadow: 1px 1px 2px gray;
            width: 200px;
            background-color: #fff;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom:40px;
            gap:13px;
       img{
        border-radius: 50%;
        padding-bottom: 10px;
       }
       p{
        font-size:1.3rem;
          width: 100%;
          font-weight:500;
       }
        }


           .display3{
           
            width: 100vw;
            height:60vh;
            display: flex;
            flex-direction: column;
            position: relative;
         
        }
       .display3Main {
 width:70vw;
 height:10vh;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-left:200px;
   position: relative;
       }
      .main3_heading{
        width: 90%;
        padding-bottom: 20px;
        font-size: 25px;
       }
       .D{
        border-bottom: 3px solid rgb(82, 9, 116);
    padding-bottom: 10px;
       }
       .w{
        color:rgb(96, 27, 128);
       }
       .pro{
        color:  #e423ef;
       }
       .text3_heading{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
       }
       .text3{
        color:gray;
        font-size:20px;
    }
    .button_display3{
        width:120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .Lsidebutton{
        width:45px;
        height: 35px;
        background-color:rgb(137, 83, 162) ;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .Rsidebutton{
        width:45px;
        height: 35px;
        background-color:rgb(137, 83, 162) ;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .display3Card{
        width: 100vw;
        height:80%;
     display: flex;
     justify-content: space-around;
     margin-top: 55px;
     
    }
    .projectCard{
        width: 400px;
        height:380px;
        border-radius: 40px;
        box-shadow: 2px 2px 4px gray;
    }
    .disCardImg{
        width:100%;
        height:60%;
    }
    .disCardImg img{
           border-top-right-radius: 30px;
                    border-top-left-radius: 30px;
                    width: 100%;
                    height: 100%;
    }
    .disCardtext{
         padding-top: 40px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                i{
                      width: 3rem;
                    height:3rem;
                    border-radius: 50%;
                    box-shadow: 1px 1px 2px gray;
                margin-right: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    color: #b414db;
                }
                h1{
                    width:300px;
                    margin-left: 10px;
                }
    }

    
        .display4{
            width:100vw;
            height:95vh;
            background-image:url(images/infos-bg.jpg);
            margin-top: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .display4Content{
            position: absolute;
               width: 1200px;
            height: 750px;
            border-radius: 30px;
             display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }
        .Picdisplay4{
          width: 500px;
          height: 100%;

        }
        .Picdisplay4 img{
           width:100%;
           height:100%;
            border-top-left-radius: 30px;
           border-bottom-left-radius: 30px;
        }
        .Formdisplay4{
                    width:700px;
                    height: 100%;  
           background-color: white;
           border-top-right-radius: 30px;
           border-bottom-right-radius: 30px;
           display: flex;
           justify-content:start;
           align-items:start;
           flex-direction: column;
           padding-left: 120px;
           padding-bottom: 45px;
        }
        .FormHeading{
            width:70%;
            font-size:25px;
            margin-top:55px;
             
        }
        .FormAbout{
            color:#4b00ff;
        }
        .FormOffer{
            color: #e729f1;
        }
        .Formborder{
            width:100px;
            border-bottom: 3px solid rgb(82, 9, 116) ;
            padding-top: 20px;
        }
        .Formtext1{
            width:70%;
            color:gray;
            font-size: 20px;
            margin-top:20px;
        }
        .Formtext1 a{
            text-decoration: none;
        }
        .Formprogress{
            width: 80%;
            height:45%;
            gap:35px;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: 35px;
            
        }
        .FormMarketing{
            font-size: 20px;
            display: flex;
            align-items:center ;
            justify-content: space-between;
        }
        .FormMarketing p{
            color: #4b00ff;
            font-weight: bold;
        }
       progress{
        margin-top: 0px;
            width:500px ;
            accent-color: #4b00ff;
        }
        .Formtext2{
            width:80%;
            height:15%;
            color: gray;
            font-size:20px;
            margin-top:15px;
            
        }
        .display5{
            width: 100vw;
            height: 80vh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .Backgrounddisplay5{
            width:100vw;
            height: 80vh;
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content:space-between;
            position: relative;
            
        }
        .MaincardDisplay5{
            width: 50%;
            height: 85%;
             position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 1px solid white;
            box-shadow: 3px 3px 3px 3px #888;
           border-radius: 10px;
        }
        .MapDisplay5{
            margin-left: 45px;

        }
        .CardDisplay5{
            margin-right:55px;
            border: 1px solid black;
            width: 50%;
        height:80%;
        margin-top:30px;
        border-radius:25px ;
        display: flex;
        align-items: center;
       
        flex-direction: column;
        }
        .headCardDisplay5{
            margin-top:35px;
            margin-right:10px ;
        }
        .contactDisplay5{
            color:#4b00ff;
        }
        .touchDisplay5{
            color: #e729f1;
        }
                .FormCardDisplay5{
                    width: 85%;
                    height:55%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-top:35px ;
                }
        .FormCardDisplay5 button{
            background-color: #7138f5;
            color: #fff;
            width: 100%;
            height:250px;
            border-radius: 25px;
        }
        .FormCardDisplay5 input{
            border-radius:15px ;
            height:40px;
            width:200px;
             background-color: rgba(251, 249, 249, 0.715);
             font-weight: 600;
             
        }
        .inputCardDisplay5{
           width: 100%;
           display: flex;
           align-items: center;
           justify-content: space-between;
        }
        .textareaDisplay5 textarea{
            width:100%;
            background-color: rgba(251, 249, 249, 0.715);
             font-weight: 600;
             font-size: 20px;
        }
        .SocialCardDisplay5{
            background:linear-gradient(to right, #4b00ff, #d100ff); 
            margin-top: 20px; 
            color:white;
            width: 100%;
            height: 100%;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        .PhoneSocialCardDisplay5{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap:15px;
        }
        .lastthing{
            height: 5vh;
            display: flex;
            align-items: start;
            justify-content: center;
            text-align: center;
            font-size:25px;
            font-weight:50px;
      
        }
        .footerdiv{
            width:650px;
         height:100px;
            padding: 20px;
            padding-top: 0px;
           display: flex;
           align-items: center;
           flex-direction: column;
                  gap: 10px;
        }